#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/vajra-control-center/usr/bin
	install -m 755 $(CURDIR)/src/vajra-control-center.py \
		$(CURDIR)/debian/vajra-control-center/usr/bin/vajra-control-center
