#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/vajra-buddhi-ai/usr/bin
	install -d $(CURDIR)/debian/vajra-buddhi-ai/usr/share/vajra/buddhi
	install -m 755 $(CURDIR)/src/buddhi-ai.py \
		$(CURDIR)/debian/vajra-buddhi-ai/usr/bin/buddhi
